<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>Shop Name</title>

    <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/abc/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/abc/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/abc/images/favicon-16x16.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/abc/styles/core.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/abc/styles/icon-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/abc/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/abc/src/plugins/datatables/css/responsive.bootstrap4.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/abc/styles/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"
    ></script>
  </head>
  <body>
    <div class="header" style="background-color: #0b132b">
      <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
      </div>
      <div class="header-right">
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <span class="user-icon">
                <img src="/abc/images/photo1.jpg" alt="" />
              </span>
              <!-- Profile name -->
              <span class="user-name" style="color: #ffff"
                ><%=admininfo[0].username %>
              </span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href="/admin/change_password"
                ><i class="dw dw-settings2"></i>Change Password</a
              >
              <a class="dropdown-item" href="/logout"
                ><i class="dw dw-logout"></i> Log Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Store Name -->
    <div class="left-side-bar">
      <div class="brand-logo">
        <a href="/admin"><%=admininfo[0].store_name %></a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll">
        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li class="dropdown">
              <a href="/admin" class="dropdown-toggle no-arrow">
                <span class="micon dw dw-house-1"></span
                ><span class="mtext">Dashboard</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon dw dw-shopping-basket"></span
                ><span class="mtext">Products</span>
              </a>
              <ul class="submenu">
                <li><a href="all-products.html">All Products</a></li>
                <li>
                  <a href="add-new-product.html">Add New Product</a>
                </li>
                <li>
                  <a href="manage-product.html">Manage Products</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon dw dw-shopping-cart-1"></span
                ><span class="mtext">Orders</span>
              </a>
              <ul class="submenu">
                <li><a href="/admin/all_orders">All Orders</a></li>
                <li><a href="/admin/pending_orders">Peding Orders</a></li>
                <li>
                  <a href="/admin/in_process_orders">In Process Orders</a>
                </li>
                <li><a href="/admin/delivered_orders">Delivered Orders</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon dw dw-list"></span
                ><span class="mtext"> Categories </span>
              </a>
              <ul class="submenu">
                <li><a href="/admin/all_categories">All Categories </a></li>
                <li>
                  <a href="/admin/all_sub_categories">All Sub-Categories</a>
                </li>
                <li><a href="/admin/add_category">Add Category</a></li>
                <li><a href="/admin/add_sub_category">Add Sub-Category</a></li>

                <!-- <li><a href="manage-category.html">Manage Category</a></li>
                <li>
                  <a href="manage-sub-category.html">Manage Sub-Category</a>
                </li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon dw dw-id-card1"></span
                ><span class="mtext">Customers</span>
              </a>
              <ul class="submenu">
                <li><a href="/admin/all_customers">All Customers</a></li>
                <li><a href="/admin/add_new_customer">Add New Customer</a></li>
                <li><a href="/admin/manage_customer">Manage Customers</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <!-- Main Container -->
    <div class="main-container">
      <div class="pd-ltr-20">
        <div class="card-box mb-30">
          <h2 class="h4 pd-20">Add New Customer</h2>
          <div class="pd-20 card-box mb-30">
            <form method="POST">
              <!-- Customer Name -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                <div class="col-sm-12 col-md-10">
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="Enter Name"
                    required
                  />
                </div>
              </div>

              <!-- Customer Email -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                <div class="col-sm-12 col-md-10">
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    placeholder="test@test.com"
                    required
                  />
                </div>
              </div>

              <!-- Contact No. -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label"
                  >Contact No.</label
                >
                <div class="col-sm-12 col-md-10">
                  <input
                    class="form-control"
                    type="text"
                    name="phone"
                    placeholder="+8801..."
                    required
                  />
                </div>
              </div>
              <!-- Shipping Address -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label"
                  >Shipping Address</label
                >
                <div class="col-sm-12 col-md-10">
                  <textarea
                    class="form-control"
                    cols="30"
                    rows="10"
                    name="address"
                    placeholder="Shipping Address.."
                    required
                  ></textarea>
                </div>
              </div>
              <!-- Password -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label"
                  >Password</label
                >
                <div class="col-sm-12 col-md-10">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required
                  />
                </div>
              </div>

              <!--Confirm Password -->
              <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label"
                  >Confirm Password</label
                >
                <div class="col-sm-12 col-md-10">
                  <input
                    class="form-control"
                    type="password"
                    name="cpassword"
                    placeholder="Enter Password"
                    required
                  />
                </div>
              </div>

              <!-- Submit -->
              <div class="col-sm-12 col-md-2" style="text-align: center">
                <input
                  class="btn btn-primary"
                  type="submit"
                  name="submit"
                  value="Add Customer"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Container -->

    <!-- js -->
    <script src="/abc/scripts/core.js"></script>
    <script src="/abc/scripts/script.min.js"></script>
    <script src="/abc/scripts/process.js"></script>
    <script src="/abc/scripts/layout-settings.js"></script>
    <script src="/abc/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/abc/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/abc/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/abc/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/abc/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="/abc/scripts/dashboard.js"></script>
  </body>
</html>
