<!DOCTYPE html>
<html>
<head>
	<title>Shop List & Details</title>
	
</head>
<body>
	<h1>Shop List & Details</h1>

	<a href="/shop/add">Add New Shop</a> |
	<a href="/dash/shoplist">Shop List</a> |
	<a href="/logout">logout</a>

</body>
</html>