<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    		<!-- Start Single Tab -->
							<div class="tab-pane fade show active" id="man" role="tabpanel">
								<div class="tab-single">
									<div class="row">
										<div class="col-xl-3 col-lg-4 col-md-4 col-12">
											<div class="single-product" style="width: 250px; height: 550px;">
												<div class="product-img">
													<a href="product-details.html">
														<img class="default-img"
															src="/abc/images/upload/image1.jpg" width="550px" height="750px" alt="#">
														<img class="hover-img" src="/abc/images/upload/image1.jpg" width="550px" height="750px"
															alt="#">
													</a>
													<div class="button-head">
														<div class="product-action">
															<a data-toggle="modal" data-target="#exampleModal"
																title="Quick View" href="#"><i
																	class=" ti-eye"></i><span>Quick Shop</span></a>
															<a title="Wishlist" href="#"><i
																	class=" ti-heart "></i><span>Add to
																	Wishlist</span></a>
															<a title="Compare" href="#"><i
																	class="ti-bar-chart-alt"></i><span>Add to
																	Compare</span></a>
														</div>
														<div class="product-action-2">
															<a title="Add to cart" href="#">Add to cart</a>
														</div>
													</div>
												</div>
												<div class="product-content">
													<h3><a href="product-details.html"><%= product[0].product_name %></a></h3>
													<div class="product-price">
														<span>$<%= product[0].product_price %></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
                    </div>
                    !--/ End Single Tab -->
</body>
</html>