<!DOCTYPE html>
<html>
<head>
	<title>Add Shop</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Add Shop</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><input type="text" name="location"></td>
				</tr>
				<tr>
					<td>Phone Number</td>
					<td><input type="int" name="phoneno"></td>
                </tr>
                <tr>
					<td>Category</td>
					<td><input type="text" name="category"></td>
                </tr>
                <tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Add"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>