<!DOCTYPE html>
<html>
<head>
	<title>Delete Shop</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Delete Shop</legend>
			<table>
				<tr>
					<td>Name :</td>
					<td></td>
				</tr>
				<tr>
					<td>Location :</td>
					<td></td>
                </tr>
                <tr>
					<td>Phone Number :</td>
					<td></td>
                </tr>
                <tr>
					<td>Category :</td>
					<td></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td></td>
				</tr>
				
			</table>
			<div>
				<h3>Are you sure?</h3>
				<input type="submit" name="submit" value="Confirm">
			</div>
		</fieldset>
	</form>
</body>
</html>